/*
  Author:     Bradley Protano
  Class:      466 Databases Section 1
  Instructor: Georgia Brown
  TA:         Koushik Gudla
  Semester:   Fall 2017
  Due:        11/20/2017

  This page dictates the colors and style of
  each page and form.
*/

/* create customer form */
.customerBox {
  grid-area: customer;
}

.billingBox {
  grid-area: billing;
}

.shippingBox {
  grid-area: shipping;
}

.repBox {
  grid-area: rep;
}

.commentBox {
  grid-area: comment;
}

.cancelBox {
  grid-area: cancel;
}

.submitBox {
  grid-area: submit;
}

.container {
  display: grid;
  grid-template-areas:
    "customer ."
    "billing shipping"
    "rep rep"
    "comment comment"
    "cancel submit";
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.container > div {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

/* customer confirm page */
.customerInfo {
  grid-area: info;
}

.customerBill {
  grid-area: bill;
}

.customerShip {
  grid-area: ship;
}

.customerRep {
  grid-area: rep;
}

.customerComment {
  grid-area: comment;
}

.customerBack {
  grid-area: back;
}

.customerSubmit {
  grid-area: submit;
}
.createCustomerConfirmContainer {
  display: grid;
  grid-template-areas:
    "info ."
    "bill ship"
    "rep rep"
    "comment comment"
    "back submit";
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.createCustomerConfirmContainer > div {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

html {
  position: relative;
  min-height: 100%;
}

h1, head, hr {
  text-align: center;
  background-color:AliceBlue;
  color:MidnightBlue;
  margin: 0;
}

h4, h6 {
  text-align: left;
  background-color:AliceBlue;
  color:MidnightBlue;
  margin: 0;
}

tr:nth-child(odd) {
  background-color: PaleTurquoise;
}

p {
  text-align: center;
  background-color:AliceBlue;
  color:MidnightBlue;
  margin: 0;
}

body {
  background-color:white;
  color:MidnightBlue;
  margin: 4 4 100px;
  /*padding: 25px;*/
}

footer {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  background-color:AliceBlue;
  color:MidnightBlue;
  margin: 0;
}
